*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cabe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav{
    background-color: #333;
    width: 100%;
    color: white;
    padding: 10px;
}

.links{
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.conteudo{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 30px;
    cursor: pointer;
}

.links:hover{
    background-color: white;
    color: black;
    transform: scale(1.05); 
    
}

.card-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.card{
    width: calc(31.33% - 20px); 
    margin: 0 auto;
    padding: 30px;
    background-color:red;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img{
    width: 100%;
    height: 50vh;
    background-color: #333;
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
    padding: 10px;
}

.btn2{
    width: 80%;
    border-radius: 25px;
}

.btn2:hover{
    background-color: #333;
}

.adicionar-ao-carrinho{
    width: 80%;
    border-radius: 25px;
}

.adicionar-ao-carrinho:hover{
    background-color: #333;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#333;
    width: 100%;
    height: 65vh;
    padding: 10px;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px;
}

.image-princ{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
    gap: 10px;
 
}

hr{
    width: 100%;
    color: white;
}
.image{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    width: 5%;

}


p{
    color: white;
}

.p{
    color: white;
}

.descricao-breve{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-card{
    width: 94%;
    height: 47vh;
}

.botaoLerMais{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    border-radius: 10px;
    margin: 5px;
    gap: 25px;
}

.conserta-img{
    width: 94%;
    height: 47vh;
    background-color: #5F9EA0;
}


